.top100 {
    position: relative;
}

.bg-top100 {
    position: relative;
    height: 280px;
}

.top100 .new-music-bg,
.top100 .bg-alpha,
.top100 .bg-alpha-1 {
    top: -8%;
    height: 280px;
}

.top100 .new-music-bg {
    background: url('../../images/banner-100.33cafe6b.png') top/cover no-repeat;
}

.svg-top100 {
    z-index: 1;
    position: absolute;
    top: -6%;
    left: 20%;
}
